.home-content-fs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.home-content-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#welcome-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#welcome-font {
    font-size: 1.5rem;
    text-align: justify;
}

#welcome-text {
    font-size: 4rem;
    font-family: "MK3-Medium";
}

#welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-btn {
    margin-bottom: 20px;
    background-color: #01090b;
}

@media screen and (max-width: 1400px) {
    #welcome-text {
        font-size: 3.25rem;
    }
}
@media screen and (max-width: 1200px) {
    #welcome-font {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 999px) {
    #welcome-text {
        font-size: 2.75rem;
        letter-spacing: 0.1rem;
    }
    #home-content {
        margin-top: 6%;
    }
    #welcome-statement {
        padding: 2.5rem;
    }
}
@media screen and (max-width: 800px) {
    #welcome-text {
        font-size: 2.25rem;
    }
    #welcome-font {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 765px) {
    #welcome-text {
        font-size: 1.75rem;
    }
    #welcome-font {
        font-size: 1rem;
    }
}
