* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-content {
    margin-top: 5%;
}

#welcome-img {
    width: 450px;
    border-radius: 16px;
}

#welcome-statement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

#welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
