* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #01090b;
    color: #f2f7f7;
}

#home-content {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#welcome-img {
    width: 450px;
    border-radius: 16px;
}

#welcome-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-btn {
    margin-bottom: 10px;
}
