* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #01090b;
    color: #f2f7f7;
}

.carousel-indicators {
    display: none;
}

#home-content {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel-img-home {
    width: 450px;
    border-radius: 16px;
}

#welcome-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-font {
    font-size: 1.25rem;
}

#welcome-text {
    font-size: 2.5rem;
}

#welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-btn {
    margin-bottom: 20px;
}
