#header-container {
    background-color: #01090b !important;
    color: #f2f7f7;
}

#navbar-container {
    background-color: #01090b;
    color: #f2f7f7;
}
.navbar-brand {
    font-size: 2rem;
}
.nav-link {
    font-size: 1.5rem;
}

@media (max-width: 990px) {
    .navbar-collapse {
        margin-top: 3rem !important;
    }
}
