.team-member {
    text-align: start;
}

.team-member-image {
    width: 350px;
    border-radius: 16px;
}

.team-member-info {
    margin: 0.5rem 0;
}

.team-member-description {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .team-member {
        margin: 4rem 2rem;
    }

    .team-member-image {
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .team-member {
        margin: 5rem 10rem;
        display: flex;
        gap: 2rem;
    }
}
