#about-iron-temple {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}

.carousel-img-about {
	width: 400px;
	border-radius: 16px;
}

.carousel-indicators {
	display: none;
}

#about-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

#about-text {
	text-align: left;
}
